In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np
import matplotlib.dates as mdates

In [36]:
df = pd.read_excel(
    "2021 FK Publication Tables  final.xlsx", 
    "Table 42 ", 
    # index_col=0, 
    usecols="A:M",
    skiprows=lambda x: x not in range(3, 18) # was having problems because I forgot the rows were 0-indexed unlike on the sheet itself
    )

In [37]:
df

,Known offender,Unnamed: 1,Total,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Number of known offenders,NaN,491,51,28,60,37,56,44,57,49,43,66
1,Race,White,264,32,15,43,18,33,26,33,28,16,20
2,NaN,Black/African American,156,17,12,14,18,17,16,23,15,13,11
3,NaN,American Indian/Alaska Native,7,1,0,2,1,1,1,0,0,1,0
4,NaN,Asian,2,0,0,1,0,0,1,0,0,0,0
5,NaN,Native Hawaiian/Other Pacific Islander,3,1,0,0,0,0,0,1,1,0,0
6,NaN,Not reported,59,0,1,0,0,5,0,0,5,13,35
7,Ethnicity,Hispanic or Latino,84,7,3,19,3,9,5,10,14,7,7
8,NaN,Not Hispanic or Latino,329,41,23,39,33,41,38,46,25,22,21
9,NaN,Not reported,78,3,2,2,1,6,1,1,10,14,38
10,Sex,Male,465,50,27,55,37,56,44,55,48,40,53
11,NaN,Female,14,1,1,5,0,0,0,2,1,0,4
12,NaN,Not reported,12,0,0,0,0,0,0,0,0,3,9

In [47]:
# filling in the first column 
df.fillna(method="ffill", inplace=True)
df.fillna(value=df.iloc[0][0], inplace=True)
df

,Known offender,Unnamed: 1,Total,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Number of known offenders,Number of known offenders,491,51,28,60,37,56,44,57,49,43,66
1,Race,White,264,32,15,43,18,33,26,33,28,16,20
2,Race,Black/African American,156,17,12,14,18,17,16,23,15,13,11
3,Race,American Indian/Alaska Native,7,1,0,2,1,1,1,0,0,1,0
4,Race,Asian,2,0,0,1,0,0,1,0,0,0,0
5,Race,Native Hawaiian/Other Pacific Islander,3,1,0,0,0,0,0,1,1,0,0
6,Race,Not reported,59,0,1,0,0,5,0,0,5,13,35
7,Ethnicity,Hispanic or Latino,84,7,3,19,3,9,5,10,14,7,7
8,Ethnicity,Not Hispanic or Latino,329,41,23,39,33,41,38,46,25,22,21
9,Ethnicity,Not reported,78,3,2,2,1,6,1,1,10,14,38
10,Sex,Male,465,50,27,55,37,56,44,55,48,40,53
11,Sex,Female,14,1,1,5,0,0,0,2,1,0,4
12,Sex,Not reported,12,0,0,0,0,0,0,0,0,3,9

In [50]:
df.index

RangeIndex(start=0, stop=13, step=1)