In [2]:
import pandas as pd

In [3]:
series = pd.Series(["BMW","Toyota","Honda"])

In [4]:
colors = pd.Series(["Red","Blue","White"])

In [6]:
car_data=pd.DataFrame({"Car make":series,"Colors": colors})
car_data

  Car make Colors
0      BMW    Red
1   Toyota   Blue
2    Honda  White