# setup

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('adult.data.csv')

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
df.index

RangeIndex(start=0, stop=32561, step=1)

# problems

In [7]:
#How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

df.groupby(['race']).size()

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
dtype: int64

In [19]:
#What is the average age of men?
df[df['sex']=='Male']['age'].mean()

39.43354749885268

#### What is the percentage of people who have a Bachelor's degree?

In [39]:
# checking values of ed
df.education.unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [42]:
def percent (num):
    return "{:.0%}".format(num)

In [43]:
df.education.eq("Bachelors").mean()
# percent(df.education.eq("Bachelors").mean())

0.16446055096587942

#### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [44]:
# check types of salary to see how it is characterized
df.salary.dtype, df.salary.unique()

(dtype('O'), array(['<=50K', '>50K'], dtype=object))

In [1]:
degree_mask = df.education.isin(["Bachelors", "Masters", "Doctorate"]
adv = df[df.education.isin(["Bachelors", "Masters", "Doctorate"])]
adv.salary.eq(">50K").mean()
df[degree_mask].salary.eq(">50K").mean()

SyntaxError: invalid syntax (453053596.py, line 2)

In [50]:
#What percentage of people without advanced education make more than 50K?
notadv = df[~df.education.isin(["Bachelors", "Masters", "Doctorate"])]
notadv.salary.eq(">50K").mean()

0.173713601914639

In [3]:
degree_mask = df.education.isin(["Bachelors", "Masters", "Doctorate"])

higher_education = df[degree_mask].salary.eq(">50K").mean()
lower_education = df[~degree_mask].salary.eq(">50K").mean()

NameError: name 'df' is not defined

In [51]:
#What is the minimum number of hours a person works per week?
#df.info()
df['hours-per-week'].min()

1

In [59]:

np.sort(df['hours-per-week'].unique()) # - what is the range of hours worked per week?
len(df[df['hours-per-week']==1]) # how many ppl worked 1 hour

20

In [55]:
#What percentage of the people who work the minimum number
# of hours per week have a salary of more than 50K?
min_hours = df['hours-per-week'].min()
min = df[df['hours-per-week']==min_hours]
min.salary.eq(">50K").mean()

0.1

In [72]:
#What country has the highest percentage of people that earn >50K 
# and what is that percentage?
countryIncome = {}
for country in df["native-country"].unique():
    countryIncome[country] = df[
        df["native-country"] == country].salary.eq(">50K").mean()
    
max_value = max(countryIncome, key=countryIncome.get)
max_value, countryIncome[max_value]

('Iran', 0.4186046511627907)

In [78]:
# another way of doing it by column operations
cond = df[df["salary"] == ">50K"].groupby("native-country").size()
all =  df.groupby("native-country").size()
df_new = pd.DataFrame({
        "all": all,
        "cond": cond
    })
# df_new.dropna(inplace=True)
df_new["percentage"]=df_new["cond"] / df_new["all"]

top = [df_new.percentage.idxmax(),df_new.percentage.max()]
top

['Iran', 0.4186046511627907]

In [83]:
# giving the list of all countries and how many there are 
df.groupby("native-country").size().sort_values()

native-country
Holand-Netherlands                1
Scotland                         12
Hungary                          13
Honduras                         13
Outlying-US(Guam-USVI-etc)       14
Yugoslavia                       16
Thailand                         18
Laos                             18
Trinadad&Tobago                  19
Cambodia                         19
Hong                             20
Ireland                          24
Ecuador                          28
France                           29
Greece                           29
Peru                             31
Nicaragua                        34
Portugal                         37
Iran                             43
Haiti                            44
Taiwan                           51
Columbia                         59
Poland                           60
Japan                            62
Guatemala                        64
Vietnam                          67
Dominican-Republic               70
Italy                            73
China                            75
South                            80
Jamaica                          81
England                          90
Cuba                             95
India                           100
El-Salvador                     106
Puerto-Rico                     114
Canada                          121
Germany                         137
Philippines                     198
?                               583
Mexico                          643
United-States                 29170
dtype: int64

In [91]:
# Identify the most popular occupation for those who earn >50K in India.
india_occupations_high = df[
    ((df["native-country"] == 'India') & (df.salary == ">50K"))
    ].groupby("occupation").size()#.max()
# df[((df["native-country"]=='India') & (df.salary==">50K"))].groupby("occupation").index.count()#.max()
india_occupations_high.idxmax(), india_occupations_high.max()
# need to figure out how to just get top and not all but also with index

('Prof-specialty', 25)