In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('adult.data.csv')

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [10]:
df.index

RangeIndex(start=0, stop=32561, step=1)

In [17]:
#How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

df.groupby(['race'])['age'].count()

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
Name: age, dtype: int64

In [18]:
#What is the average age of men?
df[df['sex']=='Male']['age'].mean()

39.43354749885268

In [27]:
df.education.head()

0    Bachelors
1    Bachelors
2      HS-grad
3         11th
4    Bachelors
Name: education, dtype: object

In [31]:
#What is the percentage of people who have a Bachelor's degree?
per = (df[df.education=="Bachelors"].education.count() / df.education.count())
"{:.0%}".format(per)

'16%'

In [33]:
def percent (num):
    return "{:.0%}".format(num)

'16%'

In [35]:
#What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
df.education.unique()
df.salary.unique()

array(['<=50K', '>50K'], dtype=object)

In [39]:
adv = df[df.education.isin(["Bachelors", "Masters", "Doctorate"])]
percent(len(adv[adv.salary==">50K"]) / len(adv.index))

'47%'

In [21]:
#What percentage of people without advanced education make more than 50K?

In [43]:
#What is the minimum number of hours a person works per week?
#df.info()
df['hours-per-week'].min()

1

In [48]:
np.sort(df['hours-per-week'].unique())
df[df['hours-per-week']==1].count()

age               20
workclass         20
fnlwgt            20
education         20
education-num     20
marital-status    20
occupation        20
relationship      20
race              20
sex               20
capital-gain      20
capital-loss      20
hours-per-week    20
native-country    20
salary            20
dtype: int64

In [57]:
def perCond (df, col, cond):
    return percent(len(df[df[col]==cond]) / len(df.index))
def perNumCond(df, col, cond):
    return (len(df[df[col]==cond]) / len(df.index))

In [49]:
#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
min = df[df['hours-per-week']==1]
percent(len(min[min.salary==">50K"])    / len(min.index))

'10%'

In [53]:
perCond (min, "salary", ">50K")

'10%'

In [117]:
#What country has the highest percentage of people that earn >50K and what is that percentage?
countryIncome = [[],[]]
for country in df["native-country"].unique():
    countryIncome[0].append(country)
    countryIncome[1].append(perNumCond(df[df["native-country"]==country],"salary",">50K"))
    
countryIncome  = pd.DataFrame( countryIncome[1], index=countryIncome[0] )

countryIncome.loc[countryIncome[0].idxmax()]

0    0.418605
Name: Iran, dtype: float64

In [122]:
df["native-country"].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [131]:
# giving the list of all countries and how many there are 
df.groupby("native-country").count().sort_values(by='age').age

native-country
Holand-Netherlands                1
Scotland                         12
Hungary                          13
Honduras                         13
Outlying-US(Guam-USVI-etc)       14
Yugoslavia                       16
Thailand                         18
Laos                             18
Trinadad&Tobago                  19
Cambodia                         19
Hong                             20
Ireland                          24
Ecuador                          28
France                           29
Greece                           29
Peru                             31
Nicaragua                        34
Portugal                         37
Iran                             43
Haiti                            44
Taiwan                           51
Columbia                         59
Poland                           60
Japan                            62
Guatemala                        64
Vietnam                          67
Dominican-Republic               70
Italy                            73
China                            75
South                            80
Jamaica                          81
England                          90
Cuba                             95
India                           100
El-Salvador                     106
Puerto-Rico                     114
Canada                          121
Germany                         137
Philippines                     198
?                               583
Mexico                          643
United-States                 29170
Name: age, dtype: int64

In [124]:
df[df["native-country"]=='Iran'].head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
135,38,Federal-gov,125933,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Iran,>50K
237,41,Private,180138,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,Iran,>50K
348,56,Private,101128,Assoc-acdm,12,Married-spouse-absent,Other-service,Not-in-family,White,Male,0,0,25,Iran,<=50K
1054,38,Private,193026,Some-college,10,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,Iran,<=50K
1387,40,Self-emp-not-inc,266324,Some-college,10,Divorced,Exec-managerial,Other-relative,White,Male,0,1564,70,Iran,>50K

In [111]:
ci = countryIncome

In [ ]:
df

In [25]:
#Identify the most popular occupation for those who earn >50K in India.